@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	background:#CDCCC2;
	background-position:center;
	
}
body div p {
	text-align:center;
	font-weight:normal;
	}
body div h1 {
	text-align:center;
	font-weight:normal;
	font-size:30pt;
	margin:30px 0px;
	}
body div h2 {
	text-align:center;
	font-weight:normal;
	}
form{
	background:#39C;
	width:360px;
	border:1px solid #006;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px #003399;
	margin:100px auto;
	}
form input{
	width:280px;
	height:35px;
	padding:0px 10px;
	margin:10px 30px;
	color:#6D6D6D;
	text-align:center;
}
form button{
	width:135px;
	margin:20px 130px;
	height: 30px;
	border-radius:30px;
	
}
form button:hover{
	background:#CCC;
}
